@font-face{
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-R.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: lightblue;
    font-family: "Ubuntu";
}
nav {
    color: #3366CC;
}

li, a, button {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #c7c7c7;
  
}


.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(0,136,169,0.8 );
}
.center {
    text-align: center;
}
a:link {
    color: #3366CC;
  }
  
  /* visited link */
  a:visited {
    color: #3366CC;
  }
  
  /* mouse over link */
  a:hover {
    color: #3366CC;
  }
  
  /* selected link */
  a:active {
    color: #3366CC;
  }