@font-face{
  font-family: "Ubuntu";
  src: url(/fonts/Ubuntu-R.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  background: #141416;
  color: whitesmoke
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
 
}

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.navbar a {
position: relative;
font-size: 18px;
color: whitesmoke;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
} 

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
} 

.navbar a:hover::before {
  width: 100%;
}
 
.center {
    text-align: center;
}

#contact {
  position: fixed;     
  text-align: center;    
  bottom: 20px; 
  width: 100%;
  
}

.about {
  margin: 100px 0 0;
}

div a:link {
    color: #3366CC;
  }
  
  /* visited link */
  div a:visited {
    color: #3366CC;
  }
  
  /* mouse over link */
  div a:hover {
    color: #3366CC;
  }
  
  /* selected link */
  div a:active {
    color: #3366CC;
  }
  